<div>
  <h1>
    Bienvenido {{ name }}
  </h1>

  <script src="/socket.io/socket.io.js"></script> {{!-- archivo de js, lo vamos a utilizar para establecer la conexion desde el lado del cliente --}}
  <script src="/js/main.js"></script> {{!-- archivo js que tenemos en la carpeta public --}}
</div>